/*style reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 100%;
  vertical-align: baseline;

  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */

@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Ralington";

  src: url("./assets/fonts/Ralington/Ralington.otf")  format("opentype");
}
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Panton-Bold";

  src: url(".assets/fonts/Panton/Panton-Bold.otf")  format("opentype");
}
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Exo-Medium.otf";

  src: url("./assets/fonts/Exo/Exo-Medium.otf")  format("truetype");
}

/*background*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  background-color: #f2eee9;
}




@media screen and (min-width: 37.5rem) {
  body {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
  .wrapper {
    background-color: #f2eee9;
    opacity: 0.75;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
  }
  .wrapper {
    max-width: 1024px;

    background-color: #f2eee9;
    opacity: 0.75;
  }
}

/* header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 100%;

  background-color: #010005;
}

.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .author-userpic {
  display: none;
}
.header .author-name {
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0 auto 2vh;
}
.nav-list a {
  padding: 0 2vw 4vh 0;

  font-size: 1em;
  font-family: "Exo", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
h1 {
  font-size: 3em;
  font-family: "Ralington", "Arial", sans-serif;
  color: #ffffff;
}

.nav-list a:hover{
  -webkit-transition: 1s;
  transition: 1s;
  color: #b42024;
}
